/* Primary pallette for screen */
$black: #000;
$white: #fff;
$tagline-grey: #555;
$light-grey: #555;
$dark-grey: #333;
$hr-grey: #e7e7e7;
$blue-link: #00aee8;
$primary-orange: #fb5a17;
$green: #00cc00;
$red: #f00;

$html-orange-highlight: #F16529;
$html-orange-lowlight: #E44D26;
$css-blue-highlight: #30A9DC;
$css-blue-lowlight: #0C73B8;
$js-yellow-highlight: #F1BF26;
$js-yellow-lowlight: #E5A228;
$artificial-green-highlight: #A5DF00;
$artifical-green-lowlight: #04B431;

.blue {
  color: $css-blue-highlight;
}
.red {
  color: $red;
}
