
$white: #fff;
$red: #f00;

$grey-outline: #555;

$html-orange-highlight: #F16529;
$html-orange-lowlight: #E44D26;
$css-blue-highlight: #30A9DC;
$css-blue-lowlight: #0C73B8;
$js-yellow-highlight: #F1BF26;
$js-yellow-lowlight: #E5A228;
