@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

@font-face {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;
}

%feature-font {
  font-family: "Source Sans Pro",Helvetica,Arial,sans-serif;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.feature-font,
.menu,
.title,
h1, h2, h3, h4, h5, h6 {

  @extend %feature-font;

  .no-generatedcontent & {
    display: none;
  }
}
