@import "_typography";
@import "_colors";


body, html {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	-webkit-text-size-adjust: none;
	text-align: center;
	background: $white;
	font: 0.8em Helvetica, Arial;
	color: $black;

	#main-container {
		min-height: 100%;
		position: relative;

		h1 {
			margin: 0;
			color: $black;
			font-weight: 800;
		}

		h2 {
			margin: 0;
			color: $tagline-grey;
			font-weight: 500;
		}

		a {
			color: $blue-link;
		}


		.header-photo {
			border-radius: 50%;
			max-width: 50%;
			margin: 20px auto;
			filter: gray; // IE6-9
			filter: grayscale(1); // Microsoft Edge and Firefox 35+
			-webkit-filter: grayscale(1); // Google Chrome, Safari 6+ & Opera 15+
			&:hover {
				filter: none; // IE6-9, Microsoft Edge and Firefox 35+
				-webkit-filter: grayscale(0); // Google Chrome, Safari 6+ & Opera 15+
			}
		}

		nav {
			margin: 10px;

			i {
				background: transparent linear-gradient(to bottom, #FFF 0%, #F9F9F9 100%) repeat scroll 0% 0%;
				box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
				width: 1.5em;
				height: 1.5em;
				padding: inherit;
				border-radius: 50%;
				color: $light-grey;
				margin: 2px;
				&.fa {
					font-size: 1.5em;
					line-height: 1.5em;
					&.fa-plus-circle {
						color: $green;
					}
					&.fa-times-circle {
						color: $red;
					}
				}
				&:hover {
					color: $dark-grey;
					cursor: pointer;
				}
			}
		}


		section {

		}




		footer {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 5px 0;

			a {
				text-decoration: none;
				&:hover {
				}

				&.html {
					color: $html-orange-highlight;
					&:hover {
						color: $html-orange-lowlight;
					}
				}
				&.css {
					color: $css-blue-highlight;
					&:hover {
						color: $css-blue-lowlight;
					}
				}
				&.javascript {
					color: $js-yellow-highlight;
					&:hover {
						color: $js-yellow-lowlight;
					}
				}
			}

			i {
				&.fa-heart {
					color: $red;
				}
			}
		}
	}
}
