@import "_typography";
@import "_colors";

$break-small: 468px;


body, html {
	height: 100%;
	padding: 0 10px;
	margin: 0;

	a {
		cursor: pointer;
		text-decoration: underline;
	}
}

body {
	-webkit-text-size-adjust: none;
	text-align: center;
	background: $white;
	font: 0.8em Helvetica, Arial;
	color: $black;

	#main-container {
		min-height: 100%;
		position: relative;

		h1 {
			margin: 0;
			color: $black;
			font-weight: 800;
		}

		h2 {
			margin: 0;
			color: $tagline-grey;
			font-weight: 500;
		}

		a {
			color: $blue-link;
		}

		hr {
			width: 150px;
			height: 0px;
			border: 0;
			border-top: 1px solid $hr-grey;
		}

		.github-follow {
			position: absolute;
			right: -10px;
			top: 10px;

			@media screen and (max-width: $break-small) {
				position: relative;
				right: 0;
				margin: 0 auto -15px auto;
			}
		}


		.header-photo {
			border-radius: 50%;
			max-width: 50%;
			margin: 40px auto 20px auto;
			filter: gray; // IE6-9
			filter: grayscale(1); // Microsoft Edge and Firefox 35+
			-webkit-filter: grayscale(1); // Google Chrome, Safari 6+ & Opera 15+
			&:hover {
				filter: none; // IE6-9, Microsoft Edge and Firefox 35+
				-webkit-filter: grayscale(0); // Google Chrome, Safari 6+ & Opera 15+
			}
		}

		nav {

		}

		section {

			&.social {
				a {
					&.pinterest-link {
						color: $red;
					}
				}
				h3 {
					display: none;
				}
			}

			&.blog {
				article {
					margin: 5px 0;
				}
				h3 {
					font-size: 1em;
					font-weight: 550;
					display: inline;
				}

				// text-align: left;
			}

			&.contact {
				margin-bottom: 50px;
				h3 {
					display: none;
				}
			}
		}



		footer {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 10px 0;
			margin-top: 25px;
			background-color: $white;

			a {
				text-decoration: none;
				&:hover {
				}

				&.html {
					color: $html-orange-highlight;
					&:hover {
						color: $html-orange-lowlight;
					}
				}
				&.css {
					color: $css-blue-highlight;
					&:hover {
						color: $css-blue-lowlight;
					}
				}
				&.javascript {
					color: $js-yellow-highlight;
					&:hover {
						color: $js-yellow-lowlight;
					}
				}
				&.artificial {
					color: $artificial-green-highlight;
					&:hover {
						color: $artifical-green-lowlight;
					}
				}
			}

			.heart {
				color: $red;
				font-size: 1.2em;
			}
		}
	}
}



// ********** THE TESTING GROUND ********** //
//
// [title]{
// 	position:relative;
// }
// [title]:after{
// 	content:attr(title);
// 	color:#fff;
// 	background:#333;
// 	background:rgba(51,51,51,0.75);
// 	padding:5px;
// 	position:absolute;
// 	left:-9999px;
// 	opacity:0;
// 	bottom:100%;
// 	white-space:nowrap;
// 	-webkit-transition:0.25s linear opacity;
// }
// [title]:hover:after{
// 	left:5px;
// 	opacity:1;
// }
