@import "_typography";
@import "_colors";

$break-small: 468px;


body, html {
	height: 100%;
	padding: 0 10px;
	margin: 0;
}

body {
	-webkit-text-size-adjust: none;
	text-align: center;
	background: $white;
	font: 0.8em Helvetica, Arial;
	color: $black;

	#main-container {
		min-height: 100%;
		position: relative;

		h1 {
			margin: 0;
			color: $black;
			font-weight: 800;
		}

		h2 {
			margin: 0;
			color: $tagline-grey;
			font-weight: 500;
		}

		a {
			color: $blue-link;
		}

		hr {
			width: 150px;
			height: 0px;
			border: 0;
			border-top: 1px solid $hr-grey;
		}

		.github-follow {
			position: absolute;
			right: -10px;
			top: 10px;

			@media screen and (max-width: $break-small) {
				position: relative;
				right: 0;
				margin: 0 auto -15px auto;
			}
		}


		.header-photo {
			border-radius: 50%;
			max-width: 50%;
			margin: 40px auto 20px auto;
			filter: gray; // IE6-9
			filter: grayscale(1); // Microsoft Edge and Firefox 35+
			-webkit-filter: grayscale(1); // Google Chrome, Safari 6+ & Opera 15+
			&:hover {
				filter: none; // IE6-9, Microsoft Edge and Firefox 35+
				-webkit-filter: grayscale(0); // Google Chrome, Safari 6+ & Opera 15+
			}
		}

		nav {

		}

		section {

			a {
				&.pinterest-link {
					color: $red;
				}
			}

		}



		footer {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 10px 0;

			a {
				text-decoration: none;
				&:hover {
				}

				&.html {
					color: $html-orange-highlight;
					&:hover {
						color: $html-orange-lowlight;
					}
				}
				&.css {
					color: $css-blue-highlight;
					&:hover {
						color: $css-blue-lowlight;
					}
				}
				&.javascript {
					color: $js-yellow-highlight;
					&:hover {
						color: $js-yellow-lowlight;
					}
				}
				&.artificial {
					color: $artificial-green-highlight;
					&:hover {
						color: $artifical-green-lowlight;
					}
				}
			}

			.heart {
				color: $red;
				font-size: 1.2em;
			}
		}
	}
}
