$white:           #fff;
$pink-light:      #e13d71;
$pink-dark:       #dd3268;
$orange:          #e84c1d;
$blue:            #173151;
$purple:          #693c90;
$grey:            #333;
$grey-light:      #555;
$grey-dark:       #222;
$blue-one:        #00477f;
$blue-two:        #6bbbf3;
$blue-three:      #3183bd;


$red-pastel:        #f2927b;
$pink-pastel:       #fbbdb0;
$orange-pastel:     #fcd474;
$yellow-pastel:     #ffeb94;
$green-pastel:      #a7cac4;
$blue-pastel:       #c1e0db;

$pastels: $red-pastel, $pink-pastel, $orange-pastel, $yellow-pastel, $green-pastel, $blue-pastel;
