@import url(../libs/pure/pure-min.css);
@import url(../libs/pure/grids-responsive-min.css);
@font-face {
  font-family: Source Sans Pro;
  src: url("../fonts/source-sans-pro.otf"); }

@font-face {
  font-family: Perfograma;
  src: url("../fonts/perfograma.otf"); }

@font-face {
  font-family: Grota Sans Extra Bold;
  src: url("../fonts/grota-sans-extra-bold.otf"); }

@font-face {
  font-family: Montserrat;
  src: url("../fonts/montserrat.otf"); }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.fade-in-down {
  animation-name: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: both; }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 2s;
  animation-fill-mode: both; }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.fade-in-left {
  animation-name: fadeInLeft;
  animation-duration: 2s;
  animation-fill-mode: both; }

.fade-in-right {
  animation-name: fadeInRight;
  animation-duration: 2s;
  animation-fill-mode: both; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.fade-in {
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: both; }

@keyframes slideOpen {
  0% {
    max-height: 0;
    display: none; }
  100% {
    max-height: 1000px;
    display: block; } }

@keyframes slideClose {
  0% {
    max-height: 1000px;
    display: block; }
  100% {
    max-height: 0;
    display: none; } }

body,
div,
p,
ul,
li {
  font-family: Grota Sans Extra Bold, 'sans-serif';
  color: #333;
  line-height: 1.3em; }

body {
  background-image: url("../images/bg.png"); }

.header {
  text-align: center; }
  .header .header__inner {
    padding: 2em; }
  .header .header__photo img {
    max-width: 50%;
    border-radius: 50%;
    border: 5px solid #fff; }
    @media (min-width: 31.5em) {
      .header .header__photo img {
        max-width: 25%; } }
    @media (min-width: 42em) {
      .header .header__photo img {
        max-width: 15%; } }
  .header .header__title {
    font-size: 2em; }
    @media (min-width: 48em) {
      .header .header__title {
        font-size: 4em; } }
  .header .header__title,
  .header .header__roles,
  .header .header__social {
    font-family: Grota Sans Extra Bold, 'sans-serif'; }
  .header .header__roles {
    font-size: 1em;
    color: #555;
    margin: 0 1em; }

.hamburger {
  text-align: center;
  font-family: Grota Sans Extra Bold, 'sans-serif' !important;
  font-size: 1.75em;
  color: #333; }
  .hamburger:hover {
    cursor: pointer; }
  @media (min-width: 48em) {
    .hamburger {
      display: none; } }

.content {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 10px; }
  .content.open {
    animation: slideOpen;
    animation-duration: 1s;
    animation-iteration-count: 1;
    max-height: 1000px;
    visibility: visible; }
  .content.close {
    animation: slideClose;
    animation-duration: 1s;
    animation-iteration-count: 1;
    max-height: 0; }
  @media (min-width: 48em) {
    .content {
      animation: slideOpen;
      animation-duration: 2s;
      animation-iteration-count: 1;
      max-height: 1000px !important;
      margin-bottom: 0; } }
  .content section {
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 0.5em; }
    .content section:nth-of-type(6n+1) {
      background: #f2927b; }
    .content section:nth-of-type(6n+2) {
      background: #fbbdb0; }
    .content section:nth-of-type(6n+3) {
      background: #fcd474; }
    .content section:nth-of-type(6n+4) {
      background: #ffeb94; }
    .content section:nth-of-type(6n+5) {
      background: #a7cac4; }
    .content section:nth-of-type(6n+6) {
      background: #c1e0db; }
    .content section h2 {
      padding: 0.5em; }
    .content section:hover {
      cursor: pointer; }

.main section p {
  padding: 1em;
  margin: 0;
  color: #333; }

.main section.section__block {
  margin: 0;
  overflow: hidden; }
  .main section.section__block.open {
    animation: slideOpen;
    animation-duration: 3s;
    animation-iteration-count: 1;
    max-height: 1000px;
    display: block; }
  .main section.section__block.close {
    animation: slideClose;
    animation-duration: 1s;
    animation-iteration-count: 1;
    max-height: 0px; }
  .main section.section__block h2 {
    width: 100%;
    font-size: 2em;
    text-align: center;
    font-family: Grota Sans Extra Bold, 'sans-serif'; }
    .main section.section__block h2 i {
      display: block;
      margin: 0.25em; }
  .main section.section__block a {
    color: #fff; }
  .main section.section__block p {
    padding: 1em; }
  .main section.section__block h3 {
    font-family: Grota Sans Extra Bold, 'sans-serif'; }
  .main section.section__block .big {
    font-size: 2em;
    font-style: italic;
    color: #222;
    opacity: .75;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0; }

.main section.section__block--about {
  background: #f2927b; }
  .main section.section__block--about pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    padding: 0 1em;
    font-size: .75em;
    line-height: 1.5em; }

.main section.section__block--publications {
  background: #fbbdb0; }

.main section.section__block--work {
  background: #fcd474; }

.main section.section__block--posts {
  background: #ffeb94; }

.main section.section__block--calendar {
  background: #a7cac4; }

.main section.section__block--contact {
  background: #c1e0db; }
  .main section.section__block--contact ul.contact__list {
    list-style-type: none;
    margin: 0;
    padding: 0 1em 1em 1em; }
    .main section.section__block--contact ul.contact__list a {
      text-decoration: none;
      color: #333;
      vertical-align: middle;
      line-height: 1.75em; }
      .main section.section__block--contact ul.contact__list a:hover {
        color: #222; }

.main section.section__block--publications article div.padding {
  padding: 0.5em; }

.main section.section__block--publications article div.background {
  background: #fbbdb0; }

.footer {
  background: #222;
  font-size: 0.7em;
  text-align: center;
  margin-top: 1em; }
  .footer .footer__inner {
    padding: 1.5em; }
  .footer .footer__copyright,
  .footer .footer__links {
    color: #777;
    font-family: Grota Sans Extra Bold, 'sans-serif'; }
    .footer .footer__copyright a,
    .footer .footer__links a {
      color: #777; }
  @media (min-width: 48em) {
    .footer .footer__copyright {
      text-align: center;
      height: 100%;
      vertical-align: middle; } }
  .footer .footer__copyright .heart {
    color: #f2927b; }
  @media (min-width: 48em) {
    .footer .footer__links {
      text-align: right; } }
  .footer .footer__links ul li {
    display: inline-block; }
    .footer .footer__links ul li a {
      font-size: 1.2em;
      padding: 0.5em; }
      .footer .footer__links ul li a:hover, .footer .footer__links ul li a:active, .footer .footer__links ul li a:focus, .footer .footer__links ul li a:visited {
        background: none; }

.pure-button-primary {
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.1); }
